.playerGoalPage {
    position: absolute;
    top: 10%;
    left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;  
    align-self: flex-start;   
    margin-left: 0; 
}

.player-goal-wrapper {
    /* position: absolute; */
    max-width: 100%;
    margin-left: 0;
    padding-left: 0; 
}

.right-cards {
    flex: 0 0 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    outline: 1px dashed red;
}

.left-cards {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    outline: 1px dashed blue;
}
