.skill-card {
    position: absolute;
    top: 10%;
    left: 23%;
    width: 15%;
    height: 18%;
    border-radius: 8px;
    overflow: hidden;
    background-color: #1a1a1a;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
}

.skill-card:hover {
    transform: translateY(-5px);
}

/* .skill-text {
    text-align: left;
    margin-left: 2%;
} */